body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 10px;
}

header {
  background: #222;
  color: white;
  text-align: center;
  padding: 20px;
}

button {
  background: #ff6b6b;
  color: white;
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

input {
  padding: 10px;
  margin: 5px;
  width: 95%;
}

.comp {
  background: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}

.comp img {
  width: 100%;
  border-radius: 8px;
}